.value {
  border: 1px solid white;
  background-color: transparent;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.checked {
  background-color: red;
}

.label {
  vertical-align: middle;
  font-size: 7px;
  color: white;
  text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000,
    1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
}
